.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 54px 96px;
}

.header__links-list {
  display: flex;
  gap: 31.5px;
  list-style: circle;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 136px;
  height: 105px;
}

.header__logo-image {
  max-height: 100%;
}

.address {
  font-size: 18px;
  line-height: 135%;
  text-underline-position: under;
  font-style: normal;
}

.header__address {
  max-width: 235px;
  justify-self: end;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: -24px;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
  padding: 5px 19px 0px 1px;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
  padding: 12px 24px 0px 0px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 110px;
  padding: 119px 0 0;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px currentColor solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 186px 24px;
}

.lots__heading {
  padding: 0 0 26px 39px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  column-gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

/* у меня тут почему-то есть линии и они не убираются, я уже все испробовал */
.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
  padding: 1px 14px;
  margin: -30px -3px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 104px 11px 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

/* я уже даже не знаю как выровнять что бы текст совпадал, если с остальным я
более менее разобрался и подогнал то тут уже не знаю даже*/
.about__text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0px 10px 0px 11px;
}

.about__text p {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 214px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}